<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{%block headtitle%}exo{%endblock%}</title>

    <link rel="stylesheet" href="/media/css/yui/reset-fonts-grids.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/yui/base-min.css" type="text/css" />
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />

    <script type="text/javascript" src="/media/js/jquery.js"></script>
</head>
<body>

<div id="doc">
    <div id="hd">{% block header %}<a href='/'>exo</a> {% comment %}<ul>{% include 'menu/menu.inc.html' %}{% endcomment %}</ul>{% endblock %}</div>
    <div id="bd">{% block content %}{% endblock content %}</div>
    <div id="ft">{% block footer %}exo{% endblock %}</div>
</div>

</body>
